basename
bc
cal
cat
cb
chgrp
chmod
cmp
col
comm
cp
dd
df
diskspeed
du
echo
ed
egrep
expr
expr.c
false
fgrep
file
grep
head
hostid
iostat
join
kill
last
ln
mail
mesg
mkdir
mv
nice
nohup
od
pagesize
pr
printenv
ps
pwd
rev
rm
rmail
rmdir
size
sleep
sort
split
strip
su
sum
sync
tail
tar
tee
time
touch
tr
true
tsort
tty
uniq
vmstat
w
wall
wc
whereis
who
write
